<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280846875350-3fdihu005r3l3qrkkbd07i9dvtlj3aal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280846875350-3fdihu005r3l3qrkkbd07i9dvtlj3aal</string>
	<key>API_KEY</key>
	<string>AIzaSyAXO6eMrZiyPtnd7BC1M8F42mkqhAdGGkw</string>
	<key>GCM_SENDER_ID</key>
	<string>280846875350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruslanpopesku.Buyper</string>
	<key>PROJECT_ID</key>
	<string>buyper-8933c</string>
	<key>STORAGE_BUCKET</key>
	<string>buyper-8933c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280846875350:ios:0e624013e3a955ed</string>
	<key>DATABASE_URL</key>
	<string>https://buyper-8933c.firebaseio.com</string>
</dict>
</plist>